
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <H1>TEST IMAGE </H1>
  <ul>
    <li><img src="/static/uploads/{{file2}}" alt="  " width="100px" height="100px"></li>
  </ul>
  
  <H1>MATCHED OUTPUT</H1>
  <ul>
    {% for value in pathF %}
     <li><img src="{{value}}" alt="MATCHEDOUTPUT" width="100px" height="100px">{{value}}</li> 
    {% endfor %}
  
  </ul>
  
</body>
</html>

 

